*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Lato;
    color: rgb(128, 126, 126);
    background-color: floralwhite;
    padding: 20px 70px;
}

@media (max-width: 768px)
{
    body{
        padding: 20px;
    }
}

@media (max-width: 480px)
{
    body{
        padding: 15px 10px;
    }
}